@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
  
.top_cart {
    height: 400px;
    background-image: url(img/cartback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-big {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 127px;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__content {
        grid-column: span 8;
    }

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .input-quantity {
            font-family: 'Montserrat';
            background: #F7F6F6;
            border-radius: 6px;
            border: none;
            font-weight: 600;
            font-size: 14px;
            line-height: 210%;
            color: #000000;
            padding-top: 11px;
            padding-bottom: 13px;
            width: 71px;
        }
    }

    &__button-box {
        margin-top: 18px;

        .cart-button {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #020202;
            border: 1px solid #000000;
            border-radius: 50px;
            background-color: transparent;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 200px;
            transition: all 0.3s;
        }
        .cart-button:hover {
            background: #000000;
            color: #FFFFFF;
        }
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .cart_product_title{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }
    
        .cart_product_text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #888888;
        }
    
        .cart-product_price {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #050505;
        }
    }

    &__link-box {
        display: flex;
        gap: 30px;

        .cart-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 210%;
            text-decoration-line: underline;
            color: #000000;
            transition: all 0.3s;
        }

        .cart-link:hover {
            text-decoration: none;
            color: #888;
        }
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
        padding-top: 42px;
    }

    &__form-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #000000;
        }

        .input-box {
            display: flex;
            flex-direction: column;
            height: 143px;
            justify-content: space-between;
            margin-top: 35px;
        }

        .cart_input {
            font-family: 'Montserrat';
            border: none;
            width: 288px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            background-color: transparent;
            border-bottom: 1px solid #CACDD8;
            outline:none
        }

        .cart_input::placeholder {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }

        .totalprice {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-top: 64px;
        }

        .form-box-button {
            width: 290px;
            height: 41px;
            margin-top: 18px;
            background: #F7F6F6;
            border-radius: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            animation: myAnim 1s ease 2s infinite alternate-reverse none;
    
        }
    }

} 