@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 735px;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  height: 76px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header_input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header_input::-moz-placeholder {
  color: #FFFFFF;
}

.header_input::placeholder {
  color: #FFFFFF;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav_link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  flex: none;
}

.menu-mob {
  display: none;
}

.top_content_title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  font-style: normal;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
}

.top_content_text {
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.top_content_link {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

.top_content_link:hover {
  text-decoration: none;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for_box {
  padding-top: 64px;
}

.for_title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.for_item {
  height: 415px;
  grid-column: span 4;
  transition: all 0.3s;
  padding: 16px;
  box-sizing: border-box;
}

.for_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #C4C4C4;
}

.for_item_big {
  grid-column: span 6;
}

.for_item_1 {
  background-image: url(img/for1.jpg);
}

.for_item_2 {
  background-image: url(img/for2.jpg);
}

.for_item_3 {
  background-image: url(img/for3.jpg);
}

.for_item_4 {
  background-image: url(img/for4.jpg);
}

.for_item_5 {
  background-image: url(img/for5.jpg);
}

.for_item_title {
  height: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  box-sizing: border-box;
  margin-bottom: 32px;
  margin-top: 64px;
}

.product_content {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  -moz-column-gap: 31px;
       column-gap: 31px;
}

.product_box {
  width: 378px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 16px;
  box-sizing: border-box;
}

.product_box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #C4C4C4;
}

.product_price_box {
  display: flex;
  gap: 32px;
}

.product_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 9px;
}

.product_text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.product_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product_old_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.product_catalog_link_box {
  margin-top: 39px;
  margin-bottom: 64px;
}

.product_catalog_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
  transition: all 0.3s;
}

.product_catalog_link:hover {
  text-decoration: none;
  color: #888888;
}

.footer {
  background-color: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_info {
  display: flex;
  gap: 73px;
}

.footer_menu_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  box-sizing: border-box;
}

.footer_contact_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icons_link {
  display: flex;
  gap: 22.4px;
}

.icon {
  fill: #888888;
  stroke: inherit;
  stroke-width: inherit;
  transition: all 0.3s;
}

.icon:hover {
  fill: #000000;
}

.footer_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer_form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form_text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.form_email {
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  width: 275px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.form_email::-moz-placeholder {
  color: #C4C4C4;
}

.form_email::placeholder {
  color: #C4C4C4;
}

.button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-top: 12px;
  transition: all 0.3s;
}

.button:hover {
  background: #000000;
  color: #FFFFFF;
}

.menu_link {
  text-decoration: none;
  transition: all 0.3s;
}

.menu_link:hover {
  text-decoration: underline;
}

/* каталог*/
.catalog_upper {
  margin-top: 64px;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog_upper_link {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.catalog_upper_link_item {
  color: #888;
  transition: all 0.3s;
}

.catalog_upper_link_item:hover {
  color: #000000;
  text-decoration-line: underline;
}

.catalog_upper_link_item:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}

.catalog_upper_select {
  margin-top: 16px;
}

.select {
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 288px;
  background-color: #fff;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 15px top 15px, 0 0;
  background-size: 20px, 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.top_catalog {
  height: 400px;
  background-image: url(img/catalogback.jpg);
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.top_cart {
  height: 400px;
  background-image: url(img/cartback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__item .input-quantity {
  font-family: "Montserrat";
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  color: #000000;
  padding-top: 11px;
  padding-bottom: 13px;
  width: 71px;
}
.cart__button-box {
  margin-top: 18px;
}
.cart__button-box .cart-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  transition: all 0.3s;
}
.cart__button-box .cart-button:hover {
  background: #000000;
  color: #FFFFFF;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart__info .cart_product_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.cart__info .cart_product_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart__info .cart-product_price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__link-box .cart-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  text-decoration-line: underline;
  color: #000000;
  transition: all 0.3s;
}
.cart__link-box .cart-link:hover {
  text-decoration: none;
  color: #888;
}
.cart__form {
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
  padding-top: 42px;
}
.cart__form-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cart__form-box__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.cart__form-box .input-box {
  display: flex;
  flex-direction: column;
  height: 143px;
  justify-content: space-between;
  margin-top: 35px;
}
.cart__form-box .cart_input {
  font-family: "Montserrat";
  border: none;
  width: 288px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  border-bottom: 1px solid #CACDD8;
  outline: none;
}
.cart__form-box .cart_input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form-box .cart_input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form-box .totalprice {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 64px;
}
.cart__form-box .form-box-button {
  width: 290px;
  height: 41px;
  margin-top: 18px;
  background: #F7F6F6;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  animation: myAnim 1s ease 2s infinite alternate-reverse none;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for_item {
    height: 268px;
  }
  .product_content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer_logo_box {
    display: none;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 863px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product_box {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header .logo_img {
    width: 99px;
  }
  .header_input {
    display: none;
  }
  .header .nav {
    display: none;
  }
  .header .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top_content_title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top_content_text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top_content_link {
    font-size: 14px;
  }
  .for_box {
    padding-top: 32px;
  }
  .for_box .for_title {
    font-size: 24px;
    line-height: 29px;
  }
  .for_box .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for_box .for_item {
    grid-column: 1/-1;
    height: 375px;
  }
  .for_box .for_item_big {
    height: 244px;
  }
  .for_box .for_item_title {
    font-size: 28px;
    line-height: 34px;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0px;
    margin-top: 32px;
  }
  .footer {
    justify-content: center;
    gap: 34px;
    padding-bottom: 32px;
  }
  .footer_info {
    gap: 100px;
  }
  .footer_form-box {
    margin-bottom: 0;
  }
  .product_content {
    row-gap: 32px;
  }
  .product_content .product_box .product_title {
    font-size: 18px;
    line-height: 22px;
  }
  .product_content .product_box .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .product_content .product_box .product_old_price {
    font-size: 18px;
    line-height: 22px;
  }
  .product_catalog_link_box {
    margin-top: 36px;
    margin-bottom: 32px;
  }
  .catalog_upper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 0px;
  }
  .top_cart .heading-big {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .cart {
    margin-top: 92px;
    grid-template-columns: repeat(4, 1fr);
  }
  .cart__content {
    grid-column: 1/-1;
  }
  .cart__form {
    grid-column: 1/-1;
  }
  .cart__item_img {
    display: none;
  }
  .cart_product_title {
    font-size: 18px;
    line-height: 22px;
  }
  .cart_product1_text {
    font-size: 12px;
    line-height: 15px;
  }
  .cart_product_price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__button-box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 42px;
  }
  .cart__button-box .cart-button {
    height: 37px;
    width: 163px;
    font-size: 12px;
    line-height: 15px;
  }
}/*# sourceMappingURL=style.css.map */